In [2]:
import pandas as pd

In [6]:
raw_df = pd.read_csv("kalshi-historical-3-30-25.csv")
raw_df['time'] = pd.to_datetime(raw_df['time'])
raw_df = raw_df.iloc[:, :-1] # drops last column, inplace (obviously)
raw_df

,time,currency,event_type,contract_type,strike_price,pdf_estimate,current_kalshi_price,Unnamed: 7
0,2025-01-16 09:15:15,BTC,Daily,No,101250,76.31,90,NaN
1,2025-01-16 09:15:15,BTC,Daily,Yes,101250,23.69,14,NaN
2,2025-01-16 09:15:15,BTC,Daily,No,99750,55.79,65,NaN
3,2025-01-16 09:15:15,BTC,Daily,Yes,99750,44.21,38,NaN
4,2025-01-16 09:15:15,BTC,Daily,No,99250,48.05,55,NaN
...,...,...,...,...,...,...,...,...
117127,2025-03-30 15:30:08,BTC,Daily,Yes,83250,46.47,18,NaN
117128,2025-03-30 15:30:08,BTC,Daily,No,82750,41.18,66,NaN
117129,2025-03-30 15:30:08,BTC,Daily,Yes,82750,58.82,42,NaN
117130,2025-03-30 15:30:08,BTC,Daily,No,82250,29.93,34,NaN
117131,2025-03-30 15:30:08,BTC,Daily,Yes,82250,70.07,75,NaN

In [120]:
unique_dates = raw_df['time'].dt.date.unique()
print(unique_dates)

[datetime.date(2025, 1, 16) datetime.date(2025, 1, 17)
 datetime.date(2025, 1, 19) datetime.date(2025, 1, 20)
 datetime.date(2025, 1, 21) datetime.date(2025, 1, 23)
 datetime.date(2025, 1, 24) datetime.date(2025, 1, 27)
 datetime.date(2025, 1, 28) datetime.date(2025, 1, 29)
 datetime.date(2025, 1, 30) datetime.date(2025, 1, 31)
 datetime.date(2025, 2, 3) datetime.date(2025, 2, 11)
 datetime.date(2025, 2, 12) datetime.date(2025, 2, 13)
 datetime.date(2025, 2, 14) datetime.date(2025, 2, 17)
 datetime.date(2025, 2, 18) datetime.date(2025, 2, 19)
 datetime.date(2025, 2, 21) datetime.date(2025, 2, 28)
 datetime.date(2025, 3, 3) datetime.date(2025, 3, 4)
 datetime.date(2025, 3, 5) datetime.date(2025, 3, 7)
 datetime.date(2025, 3, 8) datetime.date(2025, 3, 1)
 datetime.date(2025, 3, 10) datetime.date(2025, 3, 11)
 datetime.date(2025, 3, 13) datetime.date(2025, 3, 14)
 datetime.date(2025, 3, 15) datetime.date(2025, 3, 16)
 datetime.date(2025, 3, 17) datetime.date(2025, 3, 18)
 datetime.date(2025, 3, 24) datetime.date(2025, 3, 25)
 datetime.date(2025, 3, 26) datetime.date(2025, 3, 27)
 datetime.date(2025, 3, 28) datetime.date(2025, 3, 29)
 datetime.date(2025, 3, 30)]

In [121]:
# Outcome data -> This is something we need to track/keep record of
y_values = [(pd.Timestamp('2025-01-03'), 98000), (pd.Timestamp('2025-01-06'), 101500), (pd.Timestamp('2025-01-07'), 96250), 
            (pd.Timestamp('2025-01-08'), 94000), (pd.Timestamp('2025-01-09'), 91750), (pd.Timestamp('2025-01-10'), 94250),
            (pd.Timestamp('2025-01-13'), 93750), (pd.Timestamp('2025-01-14'), 96250), (pd.Timestamp('2025-01-15'), 99500),
            (pd.Timestamp('2025-01-16'), 99750), (pd.Timestamp('2025-01-17'), 104250), (pd.Timestamp('2025-01-20'), 102250),
            (pd.Timestamp('2025-01-21'), 106500), (pd.Timestamp('2025-01-22'), 104000), (pd.Timestamp('2025-01-23'), 102750),
            (pd.Timestamp('2025-01-24'), 104750), (pd.Timestamp('2025-01-27'), 101000), (pd.Timestamp('2025-01-28'), 100250),
            (pd.Timestamp('2025-01-29'), 103750), (pd.Timestamp('2025-01-30'), 105000), (pd.Timestamp('2025-01-31'), 102000),
            (pd.Timestamp('2025-02-03'), 101500), (pd.Timestamp('2025-02-04'), 96250), (pd.Timestamp('2025-02-05'), 96750),
            (pd.Timestamp('2025-02-10'), 101500), (pd.Timestamp('2025-02-11'), 96000), (pd.Timestamp('2025-02-12'), 97500),
            (pd.Timestamp('2025-02-13'), 96000), (pd.Timestamp('2025-02-14'), 97250), (pd.Timestamp('2025-02-17'), 96250),
            (pd.Timestamp('2025-02-18'), 94500), (pd.Timestamp('2025-02-19'), 96000), (pd.Timestamp('2025-02-21'), 95000),
            (pd.Timestamp('2025-02-28'), 83750), (pd.Timestamp('2025-03-03'), 84750), (pd.Timestamp('2025-03-04'), 87250),
            (pd.Timestamp('2025-03-05'), 90000), (pd.Timestamp('2025-03-07'), 86250), (pd.Timestamp('2025-03-08'), 85750),
            (pd.Timestamp('2025-03-01'), 85750), (pd.Timestamp('2025-03-10'), 79250), (pd.Timestamp('2025-03-11'), 82750),
            (pd.Timestamp('2025-03-13'), 80000), (pd.Timestamp('2025-03-14'), 83750), (pd.Timestamp('2025-03-15'), 84000),
            (pd.Timestamp('2025-03-16'), 82750), (pd.Timestamp('2025-03-17'), 83750), (pd.Timestamp('2025-03-18'), 82000),  
            (pd.Timestamp('2025-03-24'), 87750), (pd.Timestamp('2025-03-25'), 87750), (pd.Timestamp('2025-03-26'), 87000),
            (pd.Timestamp('2025-03-27'), 87250), (pd.Timestamp('2025-03-28'), 83750), (pd.Timestamp('2025-03-29'), 82000),
            (pd.Timestamp('2025-03-30'), 82250)
]

In [122]:
# # Update outcome column based on the conditions
# outcomes = []
# for _, row in raw_df.iterrows():
#     # Match date in y_values
#     matched = next((y for y in y_values if y[0].date() == row['time'].date()), None)
#     if matched:
#         # Determine outcome based on strike_price comparison
#         outcome = 'Yes' if row['strike_price'] <= matched[1] else 'No'
#     else:
#         outcome = 'No'  # Default outcome if no match found
#     outcomes.append(outcome)

# df = raw_df
# df['outcome'] = outcomes

In [123]:
import pandas as pd

# Convert y_values into a dictionary mapping each day to its outcome price
y_dict = {y[0].date(): y[1] for y in y_values}

# Convert timestamps in raw_df to datetime
raw_df['time'] = pd.to_datetime(raw_df['time'])

outcomes = []
for _, row in raw_df.iterrows():
    row_time = row['time']
    
    # Find the date that should be used for lookup
    lookup_date = (row_time + pd.Timedelta(hours=7)).date()  # Shift time to align with 17:01 EST cutoff

    if lookup_date in y_dict:
        outcome = 'Yes' if row['strike_price'] <= y_dict[lookup_date] else 'No'
    else:
        outcome = 'No'  # Default if no match found

    outcomes.append(outcome)

df = raw_df.copy()
df['outcome'] = outcomes
df

,time,currency,event_type,contract_type,strike_price,pdf_estimate,current_kalshi_price,outcome
0,2025-01-16 09:15:15,BTC,Daily,No,101250,76.31,90,No
1,2025-01-16 09:15:15,BTC,Daily,Yes,101250,23.69,14,No
2,2025-01-16 09:15:15,BTC,Daily,No,99750,55.79,65,Yes
3,2025-01-16 09:15:15,BTC,Daily,Yes,99750,44.21,38,Yes
4,2025-01-16 09:15:15,BTC,Daily,No,99250,48.05,55,Yes
...,...,...,...,...,...,...,...,...
117127,2025-03-30 15:30:08,BTC,Daily,Yes,83250,46.47,18,No
117128,2025-03-30 15:30:08,BTC,Daily,No,82750,41.18,66,No
117129,2025-03-30 15:30:08,BTC,Daily,Yes,82750,58.82,42,No
117130,2025-03-30 15:30:08,BTC,Daily,No,82250,29.93,34,Yes
117131,2025-03-30 15:30:08,BTC,Daily,Yes,82250,70.07,75,Yes

In [124]:
df

,time,currency,event_type,contract_type,strike_price,pdf_estimate,current_kalshi_price,outcome
0,2025-01-16 09:15:15,BTC,Daily,No,101250,76.31,90,No
1,2025-01-16 09:15:15,BTC,Daily,Yes,101250,23.69,14,No
2,2025-01-16 09:15:15,BTC,Daily,No,99750,55.79,65,Yes
3,2025-01-16 09:15:15,BTC,Daily,Yes,99750,44.21,38,Yes
4,2025-01-16 09:15:15,BTC,Daily,No,99250,48.05,55,Yes
...,...,...,...,...,...,...,...,...
117127,2025-03-30 15:30:08,BTC,Daily,Yes,83250,46.47,18,No
117128,2025-03-30 15:30:08,BTC,Daily,No,82750,41.18,66,No
117129,2025-03-30 15:30:08,BTC,Daily,Yes,82750,58.82,42,No
117130,2025-03-30 15:30:08,BTC,Daily,No,82250,29.93,34,Yes
117131,2025-03-30 15:30:08,BTC,Daily,Yes,82250,70.07,75,Yes

In [125]:
dropped_dates_df =  df[df['time'] > pd.Timestamp('2025-01-16')] 
dropped_dates_df

,time,currency,event_type,contract_type,strike_price,pdf_estimate,current_kalshi_price,outcome
0,2025-01-16 09:15:15,BTC,Daily,No,101250,76.31,90,No
1,2025-01-16 09:15:15,BTC,Daily,Yes,101250,23.69,14,No
2,2025-01-16 09:15:15,BTC,Daily,No,99750,55.79,65,Yes
3,2025-01-16 09:15:15,BTC,Daily,Yes,99750,44.21,38,Yes
4,2025-01-16 09:15:15,BTC,Daily,No,99250,48.05,55,Yes
...,...,...,...,...,...,...,...,...
117127,2025-03-30 15:30:08,BTC,Daily,Yes,83250,46.47,18,No
117128,2025-03-30 15:30:08,BTC,Daily,No,82750,41.18,66,No
117129,2025-03-30 15:30:08,BTC,Daily,Yes,82750,58.82,42,No
117130,2025-03-30 15:30:08,BTC,Daily,No,82250,29.93,34,Yes
117131,2025-03-30 15:30:08,BTC,Daily,Yes,82250,70.07,75,Yes

In [33]:
# only needed to run that one time to get rid of them
# dates_to_drop = ['2025-02-04', '2025-02-05', '2025-02-10']
# dropped_dates_df = dropped_dates_df[~dropped_dates_df['time'].dt.date.isin(pd.to_datetime(dates_to_drop).date)]
# dropped_dates_df

In [126]:
unique_dates = dropped_dates_df['time'].dt.date.unique()
print(unique_dates)

[datetime.date(2025, 1, 16) datetime.date(2025, 1, 17)
 datetime.date(2025, 1, 19) datetime.date(2025, 1, 20)
 datetime.date(2025, 1, 21) datetime.date(2025, 1, 23)
 datetime.date(2025, 1, 24) datetime.date(2025, 1, 27)
 datetime.date(2025, 1, 28) datetime.date(2025, 1, 29)
 datetime.date(2025, 1, 30) datetime.date(2025, 1, 31)
 datetime.date(2025, 2, 3) datetime.date(2025, 2, 11)
 datetime.date(2025, 2, 12) datetime.date(2025, 2, 13)
 datetime.date(2025, 2, 14) datetime.date(2025, 2, 17)
 datetime.date(2025, 2, 18) datetime.date(2025, 2, 19)
 datetime.date(2025, 2, 21) datetime.date(2025, 2, 28)
 datetime.date(2025, 3, 3) datetime.date(2025, 3, 4)
 datetime.date(2025, 3, 5) datetime.date(2025, 3, 7)
 datetime.date(2025, 3, 8) datetime.date(2025, 3, 1)
 datetime.date(2025, 3, 10) datetime.date(2025, 3, 11)
 datetime.date(2025, 3, 13) datetime.date(2025, 3, 14)
 datetime.date(2025, 3, 15) datetime.date(2025, 3, 16)
 datetime.date(2025, 3, 17) datetime.date(2025, 3, 18)
 datetime.date(2025, 3, 24) datetime.date(2025, 3, 25)
 datetime.date(2025, 3, 26) datetime.date(2025, 3, 27)
 datetime.date(2025, 3, 28) datetime.date(2025, 3, 29)
 datetime.date(2025, 3, 30)]

In [127]:
dropped_dates_df.to_csv('kalshi-historical-3-30-25-with-y.csv', index=False)